# Server name must end with .docker when using docker-compose + dory
SERVER_NAME=campaigns.docker

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY=saltykey
SECURE_AUTH_KEY=saltykey
LOGGED_IN_KEY=saltykey
NONCE_KEY=saltykey
AUTH_SALT=saltykey
SECURE_AUTH_SALT=saltykey
LOGGED_IN_SALT=saltykey
NONCE_SALT=saltykey

WPMS_SA_EMAIL=wordpress@digital.justice.gov.uk
WPMS_SA_USERNAME=ms-admin-team
WPMS_SA_PASSWORD=ms-wordpress
